#page-const{
    text-align: center;
    color: white;
    border: 1px solid white;
    max-width: calc(300/16 * 1rem);
    padding: 2rem;
    border: 3px dashed white;
    line-height: 1.15;
}

#page-const span{
    color: lightcoral;
    display: block;
    margin-block-start: 2rem;
}