main {
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 1rem;
    margin: 0;
    background-color: #023047;
}

#page-const{
    text-align: center;
    font-size: xx-large;
    color: white;
}

#page-const span{
    color: #c1121f;
}